@import url('../../../../variables.module.css');

.container{
  display: grid;
  gap: 20px;
}

.containerAltern_0{
 /*No quitar este estilo, depende de la view en la que se ecuentre*/
}
.containerAltern_1{
 /*No quitar este estilo, depende de la view en la que se ecuentre*/
}

.cardLong{
  display: flex;
  gap: 15px;
  align-items: center;
}


.container > :nth-child(odd) > :first-child {
  background-color: var(--grey1-color);
}

.container > :nth-child(even) > :first-child {
  background-color: var(--blue3-color);
}

/* Aqui empieza los stylos que dependen de la vista en la que se encuentre */
.containerAltern_0 .cardLong > :first-child {
  background-color: var(--yellow1-color);
}

.containerAltern_1 > .cardLong > :first-child {
  background-color: var(--orange2-color);
}


/* termianan */

.cardLong > :first-child{
  padding: 14px;
  font-size: 50px;
  border-radius: 15px;
  color: var(--grey4-color);
}



.cardLong > :nth-child(n+2){
  display: grid;
  gap: 4px;
  color: var(--grey1-color);
}


.cardLong > :nth-child(2) > :first-child{
  font-weight: 700;
  font-size: clamp(.7rem, .9vw, 1rem );

}

.cardLong > :nth-child(2) > :nth-child(2){
  font-size: clamp(.4rem, .7vw, 1rem );
}

.cardLong > :nth-child(3){
  margin-left: auto;
  margin-right: 30px;
  font-size: clamp(.4rem, .7vw, 1rem );


}