@import url('../../../variables.module.css');


.container{
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.container > section{
  display: flex;
  justify-content: space-around;
  gap: 70px;
}

.container > section > div{
  display: grid;
}

/* .container > section > div > h3{
  color: var(--blue1-color);
  margin-bottom: 30px;

} */