@import url('../../variables.module.css');

.container {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: var(--grey3-color);
  border-radius: 10px;
  position: relative;
  z-index: 1;
}

.container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  clip-path: polygon(80% 0%, 85% 0%, 30% 100%, 25% 100%);
  background-color: var(--blue1-color);
  opacity: 95%;
  z-index: 1;
}

.container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  clip-path: polygon(75% 0%, 70% 0%, 15% 100%, 20% 100%);
  background-color: var(--orange2-color); /* Cambia este color según lo que desees */
  opacity: 95%;
  z-index: 2;
}

.columnText{
  width: 55%;
  padding: 7vh 0px 3vw 4vw;
  display: flex;
  gap: 3vh;
  flex-direction: column;
}


.columnImg{
  width: 45%;
  display: grid;
}

.boxTitle{
  display: grid;
  gap: 1px;
  padding: 40px 10px;
}

.boxTitle> span{
  font-size: calc(40px + 1vw);
  font-weight: 700;
}

.boxTitle> :first-child{
  font-weight: 400;
  font-style: oblique;
  font-size: calc(30px + 1vw);
  color: var(--grey2-color);
}

.boxTitle> :nth-child(2){
  color: var(--blue1-color);
  
}

/* .boxTitle> :nth-child(3){
  color: var(--orange2-color);
  font-size: calc(10px + 1vw);

} */

.squareBotons{
  display: flex;
  gap:30px;
}

.squareBotons> :first-child{
  width: 5vw;
  min-width: 40px;
  min-height: 40px;
  height: 5vw;
  padding: 10px;
  display: grid;
  place-items: center;
  border-radius: 13px;
  font-size: calc(10px + .5vw );
  font-weight: 600;
}

.textBotones{
  height: fit-content;
  display: grid;
  gap: 4px;
  margin-top: auto;
  margin-bottom: auto;
}

.textBotones> span{
  margin: 1px;
  /* border: 1px solid blue; */
}

.textBotones> :nth-child(2){
  font-size: 16px;
  font-weight: 600;
  color: var(--blue1-color);
}

.textBotones> :first-child{
  font-size: 12px;
  font-weight: 600;
  color: var(--orange2-color);
}

#botonOrange{
  background-color: var(--orange2-color);
  color: var(--grey3-color);
  -webkit-box-shadow: 3px 3px 8px 3px #cbc2c2;
  -moz-box-shadow: 3px 3px 8px 3px #cbc2c2;
  box-shadow: 3px 3px 8px 3px #cbc2c2;
}

#botonGreen{
  background-color: var(--blue1-color);
  color: var(--grey3-color);
  -webkit-box-shadow: 3px 3px 8px 3px #cbc2c2;
  -moz-box-shadow: 3px 3px 8px 3px #cbc2c2;
  box-shadow: 3px 3px 8px 3px #cbc2c2;
}



.columnImg{
  position: relative;
  padding: 60px 90px 100px 60px;
}


.piturePerfil{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  overflow: hidden;
  background-color: var(--grey3-color);
  border: 4px solid var(--grey3-color);
  border-radius: 50%;
  margin-top: auto;
  z-index: 3;
}

.piturePerfil> img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right;
}


.dobleBox{
  width: fit-content;
  height: auto;
  display: grid;
  margin-top: 3vh;
  position: relative;
}

.boxContact{
  width: fit-content;
  background-color: var(--blue1-color);
  padding: 20px 30px;
  border-radius: 13px;
  color: var(--grey3-color);
  font-size: calc(12px + .2vw);
  font-weight: 500;
  border-width: 3px 3px 0px 3px;
  border-style: solid;
  border-color: var(--grey3-color);
}

.boxContact::before{
  content: '';
  width: 90%;
  height: 100%;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  background-color: var(--blue2-color);
  border-radius: 13px;
  border-width: 0px 3px 3px 3px;
  border-style: solid;
  border-color: var(--grey3-color);
}

.boxSideRight{
  content: '';
  position: absolute;
  display: flex;
  align-items: center;
  height: 60%;
  width: 60%;
  top: 50%;
  right: 0;
  transform: translate(0%, -50%);

}

.boxLineText{
  width: 90%;
  height: fit-content;
  display: grid;
  gap: 60px;
}

.lineText{
  width: 100%;
  padding: 0px 10px 0px 0px;
  display: flex;
  justify-content: space-between;
  border-style: solid;
  border-color: var(--blue2-color);
  border-width: 1px 0px 0px 0px;
  border-radius: 13px 0px;
}

.lineText> :first-child{
  width: 25%;
  font-size: calc(10px + 1vw);
  color: var(--grey3-color);
  font-family: monospace;
  position: relative;
  padding: 4px;
}

.lineText> :first-child::before{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: calc(30px  + .7vw);
  height: 100%;
  background-color: var(--blue1-color);
  border-radius: 13px 0px 5px 5px;
  z-index: -1;
}

.lineText> :nth-child(2){
  width: 50%;
  font-size: calc(10px + .3vw);
  color: var(--blue1-color);
  font-family: monospace;

}


.lineText> :nth-child(3){
  width: 25%;
  text-align: right;
  font-size: calc(10px + .2vw);
  color: var(--blue1-color);
  font-family: monospace;
}

.boxLineBar{
  width: 10%;
  height: 100%;
  border-radius: 20px 0px 0px 20px;
  background-color: var(--orange2-color);
  border-style: solid;
  border-color: var(--blue2-color);
  border-width: 2px 0px 2px 2px;
}