@import url('../../variables.module.css');


.container{
  width: 100%;
  height: 100%;
  display: flex;
  background-color: var(--grey3-color);
  /* background-color: var(--whiteBone-color); */
  border-radius: 10px;

}

.columnText{
  width: 55%;
  padding: 60px 40px;
  display: flex;
  gap: 20px;
  flex-direction: column;
}


.columnImg{
  width: 45%;
  /* border: 1px solid blue; */
}

.boxTitle{
  display: grid;
  gap: 1px;
  padding: 40px 10px;
}

.boxTitle> span{
  font-family: "Audiowide", sans-serif;
  font-size: calc(40px + 1vw);
  font-weight: 700;
}

.boxTitle> :first-child{
  font-weight: 400;
  font-style: oblique;
  font-size: calc(30px + 1vw);

}

.botones{
  display: flex;
  gap: 40px;
}

.botones> button{
  width: fit-content;
  padding: 15px 30px;
  border: none;
  background-color: transparent;
  font-size: calc(10px + .2vw);
  font-weight: 600;
  display: flex;
  gap: 10px;
  border-radius: 30px;

}

.botones> :first-child{
  background-color: var(--grey2-color);
  color: white;
}

.botones> :nth-child(2){
  background-color: white;
}




/* .container{
  width: 100%;
  height: 100%;
  background: url('https://media.licdn.com/dms/image/C4D12AQHqYs1tliOEnQ/article-cover_image-shrink_720_1280/0/1579376773402?e=2147483647&v=beta&t=fJoEAU-u7_nEDuyJiomscS7fuRTPZQ6dBGeUzFHyoQA') no-repeat center center;
  background-size: cover;
  padding: 40px;
  position: relative;
}

.container::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('https://res.cloudinary.com/dbn2bb4e2/image/upload/v1726518057/ttt_yauxzh.png') no-repeat center center;
  mix-blend-mode: screen;
  background-size: cover;
  z-index: 1;
} */