@import url('../../variables.module.css');

/* Navbar transparente */
.navbar {
  width: 50%;
  background-color: transparent;
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 8px solid #242424;
  border-radius: 15px;
  background: var(--blue2-color);
  z-index: 2;
  
}

.navbar ul {
  list-style-type: none;
  display: flex;
  gap: 80px;
  margin: 0;
  padding: 2px 10px;
}

.navbar ul li {
  position: relative;
  padding: 0px 20px;
  overflow: hidden;
}

.navbar ul li a {
  text-decoration: none;
  font-weight: 700;
  font-size: 25px;
  display: inline-block;
  position: relative;
  color: white;
  z-index: 1; 
  /* border: 1px solid rgb(253, 253, 253); */
  transition: color 0.3s ease;
}

Efecto de desplazamiento
.navbar ul li::before {
  content: "";
  position: absolute;
  top: 100%; /* Empieza justo debajo del ítem */
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo que se desplaza */
  transition: transform 0.4s ease; /* Transición suave */
  transform: translateY(-100%); /* Oculta el fondo al inicio */
  z-index: 0;
}

/* Efecto hover: desplaza el fondo hacia abajo */
.navbar ul li:hover::before {
  transform: translateY(0); /* El fondo se expande */
}

/* Cambiar el color del texto cuando el fondo aparece */
.navbar ul li:hover a {
  color: #00aaff;
}