@import url('../../variables.module.css');


.container{
  width: fit-content;
  display: flex;
  gap: 15px;
  position: absolute;
  bottom: 30px;
  right: 30px;
  margin-bottom: 0;
}

.container> div{
  width: 30px;
  height: 30px;
  display: grid;
  place-items: center;
  font-size: 15px;
  background: var(--blue1-color);
  color: white;
  border-radius: 30px;
  cursor: pointer;

}

