@import url('../../variables.module.css');


.container{
  width: 100%;
  height: 100%;
}

.firstView{
  width: 100%;
  height: 100%;
}

.secondView{
  display: none;
}

@media(950px > width){
  .firstView{
    display: none;
  }

  .secondView{
    display: block;
  }

}