html, body, #root {
  margin: 0;
  padding: 8px;
  height: 100%;
  width: 100%;
  box-sizing: border-box;

  font-family: "Oswald", sans-serif;
  background-color: #222831;
}

* {
  box-sizing: inherit;
}


@media(950px > width){
  html, body, #root {
    margin: 0;
    padding: 0px;
    width: 100%;
  
  }
}